# Terraform directories and plugins
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc

# OS / Editor temporary files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
